@model Freelance.Models.Question

@{
    ViewData["Title"] = "Details";
}

@if (ViewBag.IsAuth)
{
    @section MyQuestLink {
        @Html.Partial("MyQuestLink")
    }

}

<div class="quest-details">

    <div class="quest-content">
        <div class="topic-text">
            <h3>@Model.Topic</h3>
            <hr />
        </div>
        <div class="quest-description">
            <p>@Model.Description</p>
            <div class="meta-fields">
                <span class="username">@Model.User.Email</span>
                <span class="date">@Model.Date.ToLongDateString()</span>
            </div>
        </div>
    </div>

    <div class="comments">
        <div class="comments-header">
            <h3>Comments</h3>
            @if (ViewBag.IsAuth)
            {
                <a asp-controller="Comments" asp-action="Create" asp-route-QuestionId="@Model.Id" class="create-link">Write New</a>
            }
            <hr />
        </div>
        <div class="comments-blocks">
            @Html.Partial("GetComments")
        </div>
    </div>

</div>

